.browser {
  background-color: var(--color-primary);
  display: flex;
  overflow: hidden;
  max-height: 100%;
  height: 100%;

  &-search {
    font-size: medium;
    padding-left: min(0.5vw, 10px);
    padding-right: min(0.5vw, 10px);
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    width: min(25vw, 300px);

    &-chapter {
      display: flex;
      flex-direction: column;
      min-height: 40%;
      max-height: 40%;

      &-input {
        background-color: var(--color-fifth);
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &-list {
        flex-grow: 1;
        background-color: var(--color-fifth);
        border: 1px solid gainsboro;
        overflow-y: scroll;
        //background-color: white;
        background-color: var(--color-primary);
        padding: 2px;
        border-radius: 0.35rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        &-item {
          padding-left: 14px;
          padding-right: 14px;
          cursor: pointer;
          display: flex;
          align-items: center;

          &-name {
            flex-grow: 1;
            cursor: pointer;
          }

          &-selected {
            color: white;
            background-color: rgb(118, 118, 118);
          }
        }
      }

      &-footer {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0.8vh;
        padding-bottom: 0.8vh;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgb(231, 230, 230);

        &-buttons {
          display: flex;
          justify-content: center;
          gap: 3px;

          border-bottom-left-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
        }
      }
    }

    &-options {
      padding-inline-start: 6px;

      &-method {
        display: flex;
        flex-wrap: wrap;

        .form-check {
          display: inline-flex;
        }
      }

      .form-check {
        display: flex;
        gap: 5px;
        align-items: center;
      }
    }

    &-field {
      background-color: var(--color-fifth);
    }

    &-roots {
      flex-grow: 1;
      margin-bottom: 2px;
      min-height: 15%;
      max-height: 25%;
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      border: 1px solid gainsboro;
      border-radius: 0.35rem;

      &-list {
        min-height: 100%;

        overflow-y: scroll;
        //background-color: white;
        background-color: var(--color-primary);
        padding: 2px;

        cursor: pointer;

        &-item {
          cursor: inherit;
          padding-left: 14px;
          padding-right: 14px;

          &-selected {
            color: white;
            background-color: rgb(118, 118, 118);
          }
        }

        &-disabled {
          cursor: not-allowed;
          color: gray;
          background-color: #e9ecef;
        }
      }
    }
  }

  &-display {
    flex: 1;
    overflow-y: scroll;
    min-height: 100%;
    padding: 0.25rem;

    &-card {
      //background-color: var(--color-primary);
      //background-color: #f8fafc;
      background-color: #f7fafc;
      min-height: 100%;

      &-search {
        color: rgb(63 82 82);
        padding: 0.25rem;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        align-items: center;

        &-chapter {
          border-radius: 0.3rem;
          background-color: #0ee485;
          font-size: 20px;
          padding: 3px;
        }
      }

      &-list {
        &-item {
          padding: 4px;
        }
      }
    }

    mark {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .btn-verse {
    cursor: pointer;
    &:hover {
      color: cornflowerblue;
    }
  }

  .verse-selected {
    background-color: bisque;
  }
}

@media (max-width: 500px) {
  .browser {
    &-search {
      width: 100%;
      padding-left: 1vw;
      padding-right: 1vw;

      &-chapter {
        min-height: 35vh;
        max-height: 35vh;
      }

      &-roots {
        min-height: 20vh;
        max-height: 35vh;
      }
    }
  }
}
