.comparator {
  background-color: var(--color-primary);

  .menu {
    display: flex;
    gap: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(187, 186, 186);

    &-chapters {
      width: 15vw;
    }
  }

  .display {
    //background-color: var(--color-primary);
    background-color: #f7fafc;

    .verses {
      &-item {
        padding-left: 5px;
        padding-right: 5px;

        &-selected {
          background-color: antiquewhite;
        }

        &-number {
          cursor: pointer;

          &:hover {
            color: cornflowerblue;
          }
        }
      }
    }
  }
}
