.inspector {
  background-color: var(--color-primary);
  display: flex;
  overflow: hidden;
  max-height: 100%;
  height: 100%;

  .side {
    &-chapters {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;

      &-input {
        background-color: var(--color-fifth);
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &-list {
        //background-color: var(--color-fifth);
        background-color: var(--color-primary);
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  .display {
    flex: 1;
    overflow-y: scroll;
    min-height: 100%;

    &-verses {
      //background-color: var(--color-primary);
      background-color: #f7fafc;
      min-height: 100%;

      &-item {
        padding: 4px;
        border-bottom: 1.5px solid rgba(220, 220, 220, 0.893);

        &-selected {
          background-color: aliceblue;
        }

        &-text {
          font-size: 1.5rem;
          padding-bottom: 2px;
          &-word {
            cursor: pointer;
            padding-top: 2px;
            padding-bottom: 2px;
            border-radius: 0.3rem;

            &:hover {
              background-color: rgb(255, 229, 197);
            }

            &-selected {
              background-color: rgb(255, 212, 159);

              &:hover {
                background-color: rgb(255, 212, 159);
              }
            }
          }
        }

        .accordion-button {
          &::after {
            margin-left: 0;
            margin-right: auto;
          }
        }

        &-roots {
          &-verses {
            max-height: 1000px;
            overflow-y: scroll;

            &-item {
              padding: 4px;
              border-bottom: 1.5px solid rgba(220, 220, 220, 0.893);

              &-selected {
                background-color: beige;
              }

              &-text {
                font-size: 1.2rem;

                &-chapter {
                  cursor: pointer;
                  &:hover {
                    color: cornflowerblue;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
