.searcher {
  background-color: var(--color-primary);
  display: flex;
  overflow: hidden;
  flex: 1; /* This will take up the remaining height */
  flex-direction: column;

  .tab-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .tab-pane {
    flex: 1;
    overflow: hidden;
  }

  &-search {
    display: flex;
    overflow: hidden;
    max-height: 100%;
    height: 100%;
    gap: 10px;
  }

  &-side {
    padding-top: 8px;
    padding-inline-start: 8px;

    &-roots {
      overflow-y: scroll;
      background-color: var(--color-primary);
      padding: 2px;
      min-height: 15%;
      max-height: 25%;
      border: 1px solid gainsboro;
      border-radius: 0.35rem;

      cursor: pointer;

      &-item {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

        &-selected {
          background-color: gray;
        }
      }
    }
  }

  &-display {
    flex: 1;
    border: 1px solid gray;
    border-radius: 0.75rem;
    margin: 5px;
    padding: 5px;
    background-color: #f7fafc;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    &-roots {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding-bottom: 10px;

      &-item {
        background-color: #0ee485;
        border-radius: 0.75rem;

        min-width: 2rem;
        display: flex;
        justify-content: center;

        &-text {
          display: flex;
          justify-content: center;
          min-width: 2rem;
          padding-left: 4px;
          padding-right: 4px;
        }

        &-delete {
          display: flex;
          justify-content: center;
          min-width: 1.5rem;
          border-inline-start: 1px solid #dee2e6;
          cursor: pointer;
        }
      }
    }

    &-verses {
      display: flex;
      overflow-y: scroll;
      max-height: 100%;
      height: 100%;
      flex-direction: column;

      &-item {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #dee2e6;
        font-size: larger;

        &-suffix {
          cursor: pointer;
          &:hover {
            color: cornflowerblue;
          }
        }
      }
    }
  }

  &-chapter {
    background-color: #f7fafc;
    padding: 1rem;
    overflow-y: scroll;
    display: flex;
    max-height: 100%;
    height: 100%;
    flex-direction: column;

    &-verse {
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #dee2e6;
      font-size: larger;

      &-highlight {
        background-color: antiquewhite;
      }

      &-suffix {
        cursor: pointer;
        &:hover {
          color: cornflowerblue;
        }
      }
    }
  }
}
