.searcher2 {
  background-color: var(--color-primary);
  display: flex;
  overflow: hidden;
  max-height: 100%;
  height: 100%;
  flex-direction: column;

  .tab-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .tab-pane {
    flex: 1;
    overflow: hidden;
  }

  &-searchpanel {
    padding-top: 10px;
    display: flex;
    overflow: hidden;
    max-height: 100%;
    height: 100%;
    flex-direction: column;

    &-input {
      height: 2rem;
    }

    .form-check {
      display: flex;
      gap: 5px;
      align-items: center;
      padding-inline-end: 10px;
    }

    &-display {
      margin: 0.5rem;
      overflow: hidden;
      max-height: 100%;
      height: 100%;
      border: 1px solid gray;
      border-radius: 1rem;

      &-list {
        max-height: 100%;
        height: 100%;
        padding: 1rem;
        overflow-y: auto;

        &-verse {
          font-size: larger;
          padding-top: 4px;
          padding-bottom: 4px;

          &-suffix {
            cursor: pointer;
            &:hover {
              color: cornflowerblue;
            }
          }
        }
      }
    }
  }
}
