.searcher2 {
  background-color: var(--color-primary);
  padding-top: 2rem;
  display: flex;
  overflow: hidden;
  max-height: 100%;
  height: 100%;
  flex-direction: column;

  &-list {
    padding: 2rem;
    overflow-y: auto;

    &-verse {
      font-size: larger;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  mark {
    padding-left: 0;
    padding-right: 0;
  }
}
