.tags {
  background-color: var(--color-primary);
  display: flex;
  overflow: hidden;
  max-height: 100%;
  height: 100%;

  &-side {
    padding: 20px;
    display: flex;
    flex-direction: column;

    &-chapters {
      display: flex;
      flex-direction: column;
      max-height: 40%;

      &-search {
        width: 100%;
        border: 1px solid rgb(201, 202, 204);
        border-bottom: none;
        border-radius: 8px 8px 0 0;
        padding-left: 5px;
        padding-right: 5px;

        &:focus-visible {
          outline: none;
          border-color: rgba(76, 76, 167, 0.623);
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        border: 1px solid gainsboro;

        min-width: 200px;
        overflow-y: scroll;
        //background-color: white;

        &-item {
          display: flex;
          padding: 5px;

          &-name {
            flex-grow: 1;
            cursor: pointer;
          }

          &-selected {
            background-color: rgba(76, 76, 167, 0.623);
            color: black;
          }
        }
      }

      &-buttons {
        display: flex;

        background-color: rgba(0, 0, 0, 0.03);

        justify-content: center;
        gap: 1rem;
        padding: 1rem;

        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      min-height: 40%;
      max-height: 50%;
      margin-top: 1rem;
      padding: 16px;
      background-color: rgba(0, 0, 0, 0.03);
      border-radius: 0.3rem;

      &-items {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        max-width: 300px;
        cursor: pointer;
        overflow-y: auto;
        font-family: initial;

        &-item {
          background-color: #fffff8;
          padding: 2px;
          border-radius: 0.3rem;
          display: flex;

          &-selected {
            background-color: #ffffbf;
          }

          &-text {
            padding-right: 8px;
            max-width: 250px;
            overflow-x: hidden;
            overflow-wrap: break-word;
          }
        }
      }

      &-btn {
        margin-top: 10px;
        width: 100px;
      }
    }
  }

  &-display {
    flex: 1;
    width: 100%;
    padding: 0.5rem;
    overflow-y: scroll;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &-tags {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding-bottom: 5px;

      &-list {
        display: flex;
        gap: 5px;

        &-item {
          background-color: #ffffbf;
          display: flex;
          padding: 3px;
          border-radius: 0.3rem;
          overflow-wrap: break-word;
          overflow-x: hidden;

          &-close {
            cursor: pointer;
            padding-left: 3px;
            padding-right: 3px;
          }
        }
      }
    }

    &-chapters {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      padding-bottom: 5px;

      &-item {
        background-color: beige;
        padding: 2px;
        border-radius: 0.3rem;
      }
    }

    &-chapter {
      flex: 1;
      //background-color: var(--color-primary);
      background-color: #f7fafc;

      &-title {
        color: rgb(58, 174, 174);
      }

      &-verses {
        &-item {
          border-bottom: 1.5px solid rgba(220, 220, 220, 0.893);
          padding: 4px;

          &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            padding-bottom: 5px;

            &-item {
              background-color: #ffffbf;
              padding: 3px;
              border-radius: 0.3rem;
              overflow-wrap: break-word;
              overflow-x: hidden;
              font-family: initial;
              font-size: medium;
            }
          }

          &-verse {
            cursor: pointer;

            &:hover {
              color: cornflowerblue;
            }
          }

          &-highlighted {
            background-color: #a5d9fc;
          }

          &-text {
            &-btn {
              cursor: pointer;

              &:hover {
                color: cornflowerblue;
              }
            }
          }
        }
      }
    }
  }

  .modal-deletetag {
    &-label {
      background-color: #ffffbf;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      overflow-wrap: break-word;
    }
  }

  .modal-versetags {
    &-text {
      background-color: rgb(245, 244, 244);
      padding: 4px;
      margin-bottom: 5px;
    }

    &-items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;

      &-item {
        cursor: pointer;
        background-color: grey;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        overflow-wrap: break-word;
        border-radius: 0.3rem;

        &-selected {
          background-color: #ffffbf;
        }
      }
    }
  }
}
