.translation {
  background-color: var(--color-primary);
  display: flex;
  overflow: auto;
  max-height: 100%;
  height: 100%;

  &-display {
    flex: 1;
    overflow-y: scroll;
    min-height: 100%;
    padding: 0.25rem;

    &-card {
      background-color: var(--color-primary);
      min-height: 100%;

      &-trans {
        &-text {
          background-color: var(--color-fifth);
        }
      }
    }
  }
}
