nav {
  background-color: rgb(33, 37, 41);

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

  .nav-list {
    display: flex;
    justify-content: space-between;

    &-start {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5vw;

      &-item {
        a {
          text-decoration: none;
          padding-left: 0.3vw;
          padding-right: 0.3vw;
          color: rgb(190, 190, 190);
        }

        a.active {
          color: black;
          background-color: var(--color-primary);
          border-radius: 0.3rem;
        }
      }
    }

    &-end {
      display: flex;
      align-items: center;
    }
  }
}
