// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

@import "./variables.scss";

main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}

@import "./layout.scss";

@import "./pages/browser.scss";

@import "./pages/translation.scss";

@import "./pages/roots.scss";

@import "./pages/yournotes.scss";

@import "./pages/coloring.scss";

@import "./pages/tags.scss";

@import "./pages/inspector.scss";

@import "./pages/comparator.scss";

@import "./pages/about.scss";

@import "./main_md.scss";
