// Medium screen adjustments (Todo: Complete this unfinished feature )

@media (max-width: 500px) {
  .browser,
  .translation {
    flex-direction: column;
    overflow: auto;
    max-height: none;
  }
}
