// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

@import "./variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@500&display=swap");

main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: "Scheherazade New", serif;
  font-size: larger;
  line-height: normal;

  @import "./layout.scss";
}

@import "./pages/browser.scss";

@import "./pages/translation.scss";

@import "./pages/roots.scss";

@import "./pages/yournotes.scss";

@import "./pages/coloring.scss";

@import "./pages/tags.scss";

@import "./pages/inspector.scss";

@import "./pages/comparator.scss";

@import "./pages/about.scss";

@import "./pages/searcher.scss";

@import "./pages/searcher2.scss";

@import "./pages/settings.scss";

@import "./main_md.scss";
